<%namespace name='static' file='../static_content.html'/>

<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text

def strip_scheme(url):
  if url is not None:
    url = url.replace('http://', '', 1)
    url = url.replace('https://', '', 1)
  return url
%>

<%
course_mode_class = course_mode if course_mode else ''
%>

<div class="wrapper-accomplishment-rendering">
  <div class="accomplishment-rendering">
    <div class="accomplishment-certificate">
      <span class="cert-corner cert-corner-tl"></span>
      <span class="cert-corner cert-corner-tr"></span>
      <span class="cert-corner cert-corner-bl"></span>
      <span class="cert-corner cert-corner-br"></span>

      <div class="wrapper">
        <div class="accomplishment-org">
          <img class="organization-logo" src="${static.url('certificates/images/ibm-logo.png')}" alt="IBM">
        </div>

        <div id="qrcode"></div>
      </div>

      <div class="accomplishment-statement">
        <p class="accomplishment-statement-lead">
          <span class="accomplishment-intro">${_("This is to certify that")}</span>
          <strong class="accomplishment-recipient hd-1 emphasized">${accomplishment_copy_name | h}</strong>
          <span class="accomplishment-summary">
            ${_("successfully completed and received a passing grade in")}
          </span>

          <span class="accomplishment-course hd-1 emphasized">
            <span class="accomplishment-course-name">${accomplishment_copy_course_name}</span>
            <span class="accomplishment-course-number-and-org">
              (${Text(_("{course_number}, provided by {strong_start}{course_org}{strong_end}")).format(
                course_number=course_number,
                strong_start=HTML("<strong>"),
                strong_end=HTML("</strong>"),
                course_org=organization_short_name,
              )})
            </span>
          </span>
        </p>

        <p class="accomplishment-statement-detail">
          ${Text("a course on {link_start}{strong_start}{portal_url}{strong_end}{link_end}.").format(
            link_start=HTML('<a href="{url}">').format(url=settings.PRIVATE_PORTAL_URL),
            link_end=HTML("</a>"),
            strong_start=HTML("<strong>"),
            strong_end=HTML("</strong>"),
            portal_url=strip_scheme(settings.PRIVATE_PORTAL_URL),
          )}
        </p>
        <p class="accomplishment-statement-detail">
            ${Text("Powered by {strong_start}IBM Developer Skills Network{strong_end}.").format(
              strong_start=HTML("<strong>"),
              strong_end=HTML("</strong>")
            )}
        </p>
        <p class="accomplishment-statement-detail accomplishment-statement-issuer">
            ${Text("Issued by {strong_start}{site_name}{strong_end}").format(
              strong_start=HTML("<strong>"),
              strong_end=HTML("</strong>"),
              site_name=settings.PLATFORM_NAME
            )}
          </p>
      </div>

      <div class="accomplishment-footer">
        <div class="accomplishment-date">
          <span class="label">${_("Issued on:")}</span>
          <span class="value">${certificate_date_issued}</span>
        </div>
        <div class="accomplishment-validation-link">
          <span class="label">
            ${_("Authenticity of this certificate can be validated by going to:")}
          </span>
          <span class="value"><a href="${share_url}">${share_url}</a></span>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="${static.url('js/vendor/qrcode.min.js')}"></script>
<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"), {
    text: "${share_url}",
    width: 100,
    height: 100,
  });
</script>